<ion-view view-title="About Us">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Our History
      </div>
      <div class="item item-text-wrap">
        
Started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong. With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the A-list clientele in Hong Kong.  Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us.
      </div>
    </div>

        <div class="card">
          <div class="item item-divider">
            Corporate Leadership
          </div>
          <div class="item item-text-wrap">
    
            <div class="list">

                    <a ng-repeat="item in leadership" 
                       href="#/{{item.id}}"
                       class="item item-avatar">
                      <img ng-src="http://localhost:3000/{{ item.image }}">
                      <h2>{{ item.name }}</h2>
                      <h4>{{ item.designation }}</h4>
                      <p>{{ item.description }}</p>
                    </a>

            </div>

          </div>


        </div>
  </ion-content>
</ion-view>