
    <div class="container" ng-controller="IndexController">
        <div class="row row-content">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <h3 align=center>Our Lipsmacking Culinary Creations</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
				        <div ng-if="!showDish">
                    <h3>{{message}}</h3>
                </div>
                <div class="media"  ng-if="showDish">
                  <div class="media-left media-middle">
                    <a href="#">
                      <img class="media-object img-thumbnail" ng-src={{pizza.image}} alt={{pizza.name}}>
                    </a>
                  </div>
                  <div class="media-body">
                    <h2 class="media-heading">{{pizza.name}}
                    <span class="label label-danger">{{pizza.label}}</span>
                    <span class="badge">{{pizza.price | currency}}</span></h2>
                    <p>{{pizza.description}}aa</p>
                  </div>
                </div>
            </div>
        </div>


        <div class="row row-content">
            <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
                <h3 align=center>This Month's Promotions</h3>
            </div>
            <div class="col-xs-12 col-sm-9">
        <div ng-if="!showPromotion">
                    <h3>{{message}}</h3>
        </div>
				<div class="media" ng-if="showPromotion">     
                  <div class="media-body">
                    <h2 class="media-heading">{{promotion.name}}
                    <span class="label label-danger">{{promotion.label}}</span>
                    <span class="badge">{{promotion.price | currency}}</span></h2>
                    <p>{{promotion.description}}aa</p>
                  </div>
                  <div class="media-right media-middle">
                    <a href="#">
                      <img class="media-object img-thumbnail" ng-src={{promotion.image}} alt={{promotion.name}}>
                    </a>
                  </div>
                </div>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <h3 align=center>Meet our Culinary Specialists</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
        <div ng-if="!showChief">
                    <h3>{{message}}</h3>
        </div>
				<div class="media" ng-if="showChief">
                  <div class="media-left media-middle">
                    <a href="#">
                      <img class="media-object img-thumbnail" ng-src={{chief.image}} alt={{chief.name}}>
                    </a>
                  </div>
                  <div class="media-body">
                    <h2 class="media-heading">{{chief.name}}
                    <span style="font-size:14px;">{{chief.designation}}</span></h2>
                    <p>{{chief.description}}aa</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
